---
import HeroCopy from "./HeroCopy.astro";
import ServiceNetwork from "./ServiceNetwork/ServiceNetwork.astro";
---

<section class="relative overflow-hidden bg-white">
  <div
    class="mx-auto grid min-h-[700px] max-w-[1500px] items-center gap-10
           px-8 py-16 lg:grid-cols-[46%_54%] lg:px-12 lg:py-20"
  >
    <div class="flex justify-start">
      <HeroCopy />
    </div>

    <div class="flex justify-center lg:justify-end">
      <div class="w-full max-w-[820px] scale-[1.08] origin-center">
        <ServiceNetwork />
      </div>
    </div>
  </div>
</section>
