---
import HeroCopy from "./HeroCopy.astro";
import ServiceNetwork from "./ServiceNetwork/ServiceNetwork.astro";
import "./hero.css";
---

<section class="hero relative overflow-hidden bg-white">
  <div
    class="hero-inner mx-auto grid min-h-[700px] max-w-[1500px] items-center
           gap-14 px-8 py-16
           lg:grid-cols-[44%_56%] lg:px-12 lg:py-20"
  >
    <div class="flex justify-start">
      <HeroCopy />
    </div>

    <div class="flex min-w-0 justify-center lg:justify-end">
      <div class="hero-network w-full max-w-[820px]">
        <ServiceNetwork />
      </div>
    </div>
  </div>
</section>
