.hero {
  background-image: var(--home-surface-background);
  background-repeat: no-repeat;
  background-size: 100% var(--brand-gradient-height);
  background-position: center calc(-1 * var(--site-header-height));
}

@media (min-width: 1024px) {
  .hero-copy-wrap {
    transform: translateY(-45px);
  }
}
