<div
  class="pointer-events-none absolute left-1/2 top-1/2
         h-[760px] w-[900px]
         -translate-x-1/2 -translate-y-1/2
         rounded-full"
  style="
  background:
    radial-gradient(
      circle,
      rgba(59,130,246,.22) 0%,
      rgba(59,130,246,.14) 18%,
      rgba(59,130,246,.06) 40%,
      transparent 62%
    ),

    radial-gradient(
      circle,
      rgba(255,255,255,.35) 0%,
      rgba(255,255,255,.10) 12%,
      transparent 28%
    );

    <!-- radial-gradient(
      circle,
      rgba(13,71,161,.06) 1px,
      transparent 1px
    ), -->

    <!-- radial-gradient(
    circle, 
    rgba(13,71,161,.08) .9px, 
    transparent 1.5px); -->

background-size:
  100% 100%,
  100% 100%,
  30px 30px,
  47px 47px;

background-position:
  center,
  center,
  center,
  15px 11px;
"
  aria-hidden="true"
>
</div>
