---
import CenterLogo from "./CenterLogo.astro";
import ConnectorLines from "./ConnectorLines.astro";
import NetworkGlow from "./NetworkGlow.astro";
import ServiceCard from "./NetworkCard.astro";
---

<div class="relative mx-auto h-[650px] w-full max-w-[820px]">
  <!-- Background glow -->
  <div class="absolute inset-0 z-0">
    <NetworkGlow />
  </div>
  <!-- Connector Lines (behind everything) -->
  <div class="absolute inset-0 z-10">
    <ConnectorLines />
  </div>

  <!-- Center Logo -->
  <div
    class="absolute left-1/2 top-1/2 z-30
           -translate-x-1/2 -translate-y-1/2"
  >
    <CenterLogo />
  </div>

  <!-- Tax -->
  <div
    class="absolute left-1/2 top-1/2 z-20 w-[290px]
           -translate-x-1/2 -translate-y-[325px]"
  >
    <ServiceCard
      title="Tax Planning"
      description="Proactive tax strategies built around your goals."
      href="/services/tax"
      icon="tax"
    />
  </div>

  <!-- Accounting -->
  <div
    class="absolute left-1/2 top-1/2 z-20 h-[230px] w-[200px]
            -translate-x-[315px] -translate-y-1/2"
  >
    <ServiceCard
      title="Accounting"
      description="Accurate books. 
      Clear insights. 
      Better decisions."
      href="/services/accounting"
      icon="accounting"
    />
  </div>

  <!-- Payroll -->
  <div
    class="absolute left-1/2 top-1/2 z-20 h-[230px] w-[200px]
           translate-x-[115px] -translate-y-1/2"
  >
    <ServiceCard
      title="Payroll"
      description="Reliable payroll processing and compliance you can count on."
      href="/services/payroll"
      icon="payroll"
    />
  </div>

  <!-- Advisory -->
  <div
    class="absolute left-1/2 top-1/2 z-20 w-[290px]
           -translate-x-1/2 translate-y-[145px]"
  >
    <ServiceCard
      title="Advisory"
      description="Strategic guidance to help you grow, manage risk, and plan ahead."
      href="/services/advisory"
      icon="advisory"
    />
  </div>
</div>
