---
import { Image } from "astro:assets";
import MainMenu from "./MainMenu";
import Logo from "../../assets/logos/logoColor.png";
import ClientPortalButton from "../buttons/ClientPortalButton.astro";
import MobileDrawer from "../../components/nav/MobileDrawer";
import "./header.css";
import "./menu.css";
---

<header class="site-header">
  <div class="site-header-inner">
    <a href="/" aria-label="Home" class="site-header-logo">
      <Image src={Logo} alt="Pogue & Company CPAs PLLC logo" height={110} />
    </a>

    <div class="site-header-desktop">
      <MainMenu client:load />

      <ClientPortalButton
        href="https://pogue.clientportal.com/#/login"
        buttonClass="site-header-portal"
      />
    </div>

    <div class="site-header-mobile">
      <MobileDrawer client:load />
    </div>
  </div>
</header>
