---
import Copyright from "./Copyright";
---

<footer class="bg-[var(--firmDarkBlue)] text-gray-300">
  <div class="mx-auto max-w-6xl px-8 py-2">
    <div>
      <address class="mt-2 not-italic space-y-1 text-center text-md">
        <p class="font-bold">Pogue &amp; Company CPAs PLLC</p>

        <p class="font-light">
          PO Box 1
          <span class="mx-2 text-white/30">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          1254 US Highway 62 W
          <span class="mx-2 text-white/30">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          Greenville, KY 42345
        </p>

        <p class="font-light">
          <a
            href="mailto:info@pogue.cpa"
            class="transition-colors hover:text-white"
          >
            info@pogue.cpa
          </a><span class="mx-2 text-white/30">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a href="tel:+12703389290" class="transition-colors hover:text-white">
            270 338 9290
          </a>
        </p>

        <p>
          <a href="/contact" class="transition-colors hover:text-white">
            Contact Us
          </a>
        </p>
      </address>
    </div>

    <div class="mt-2 border-t border-white/10 pt-2 text-center">
      <a
        href="/privacy"
        class="text-sm text-gray-400 transition-colors hover:text-white"
      >
        Privacy Policy
      </a>
    </div>
  </div>

  <Copyright />
</footer>
